<div class="container-fluid bg">
  <div class = "row justify-content-center" >
    <div class = "col-12 col-sm-6 col-md-3">
      <form class="form-container" (ngSubmit)="register(form)" #form="ngForm">
      <p>Zarejestruj się by móc dokonywać zakupów:</p>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Wprowadź login" name="login" ngModel required>
  </div>
  <div class="form-group">
    <input class="form-control" type="password" placeholder="Wprowadź hasło" name="password" ngModel required>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Wprowadź adres" name="address" ngModel>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Wprowadź e-mail" name="email" ngModel required email>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Wprowadź numer telefonu" name="phone" ngModel pattern="[0-9]*">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Wprowadź imię" name="name" ngModel required>
  </div>
  <div class="form-group">
  <select class="form-select" name="userType" ngModel>
    <option value="" disabled selected hidden>Wybierz rodzaj użytkownika</option>
    <option value="CUSTOMER">CUSTOMER</option>
    <option value="SHOP">SHOP</option>
  </select>
  </div>
  <button type="submit" class="btn btn-primary btn-block" id="registerbutton" [disabled]="!form.valid">Zarejestruj</button>
  <p id="incorrectdata">{{incorrectData}}</p>
</form>
    </div>
  </div>
</div>
