<app-navbar></app-navbar>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col align-self-start"></div>
        <div class="col align-self-center">
          <h2>ZMIANA HASŁA</h2>
          <form class="form-container" (ngSubmit)="changePassword(form)" #form="ngForm">
            <p>Wypełnij poniższe pole aby zmienić swoje hasło na nowe:</p>
            <input class="form-control" type="password" placeholder="Nowe hasło" name="password" ngModel required>
            <button type="submit" class="btn btn-primary btn-block" id="password-change-button"
              [disabled]="!form.valid">Zmień hasło!</button>
          </form>
        </div>
        <div class="col align-self-end"></div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>