<div class="container-fluid bg">
  <div class = "row justify-content-center">
    <div class = "col-12 col-sm-6 col-md-3">
      <form class="form-container" (ngSubmit)="logIn(form)" #form="ngForm">
        <p>Zaloguj się by dokonać zakupów:</p>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Login" name="login" ngModel>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" name="password" ngModel>
        </div>
        <div class="form-group">
          <select class="form-select" name="userType" ngModel>
            <option value="" disabled selected hidden>Wybierz rodzaj użytkownika</option>
            <option value="CUSTOMER">CUSTOMER</option>
            <option value="SHOP">SHOP</option>
          </select>
        </div>
        <button type="submit" clas="btn btn-primary btn-block" id="loginbutton" [disabled]="!form.valid">Zaloguj</button>
        <p id="incorrectdata">{{incorrectData}}</p>
        <p>Nie masz jeszcze konta? <a routerLink="/register">Zarejestruj się!</a></p>
      </form>
    </div>
  </div>
</div>
