<app-navbar></app-navbar>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
<div class="container-fluid bg">
  <div class = "row justify-content-center" >
    <div class = "col-12 col-sm-6 col-md-3">
      <form class="form-container" (ngSubmit)="changePassword(form)" #form="ngForm">
        <p>Wypełnij poniższe pole aby zmienić hasło:</p>
          <input class="form-control" type="password" placeholder="Nowe hasło" name="password" ngModel required>
          <button type="submit" class="btn btn-primary btn-block" id="password-change-button" [disabled]="!form.valid">Zmień hasło!</button>
      </form>
    </div>
  </div>
</div>
</div>
<div class="col-2"></div>
</div>
