nav {
  background-color: rgba(0, 0, 99, 0.9);
  padding-top: 0;
}

.dropdown-toggle:after {
  display: none;
}

#dropdownMenuButton {
  color: white;
  padding: 10px;
  border: 0;
}

#dropdownMenuButton:hover {
  color: rgba(0, 0, 99, 0.9);
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

#helloUser {
  color: white;
  padding: 10px;
}
