nav {
  background-color: rgba(0, 0, 99, 0.9);
}

.dropdown-toggle:after {
  display:none;
}

#dropdownMenuButton {
  border: 0px;
}

#dropdownMenuButton:hover {
  background-color: #6c757d;
  border: 0px;
}

.icon-color {
  color: #fff;
}
