<nav class="navbar">
  <div class="container-fluid">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button id="dropdownMenuButton" class="btn btn-outline-primary" ngbDropdownToggle><img src="../../assets/svg-graphics/gear.svg" alt="menu-down icon" class="icon-color"></button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem routerLink="/basket">Koszyk</button>
          <button ngbDropdownItem routerLink="/customer">Produkty</button>
          <button ngbDropdownItem routerLink="/customerhistory">Moje produkty</button>
          <button ngbDropdownItem routerLink="/passwordchange">Zmień hasło</button>
          <button ngbDropdownItem routerLink="/datachange">Zmień dane</button>
          <button ngbDropdownItem (click)="logOff()">Wyloguj</button>
        </div>
        <div style="color: white">Witaj, {{userName}}!</div>
      </div>
    </div>
  </div>
</nav>
