<app-navbar></app-navbar>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="container-fluid bg">
      <p>Koszyk:</p>
      <p *ngIf="items.length == 0">Twój koszyk jest pusty.</p>
      <table *ngIf="items.length > 0" class="table table-bordered">
        <ng-container>
          <tr>
            <th>NAZWA PRODUKTU</th>
            <th>CENA</th>
            <th>WALUTA</th>
            <th>TYP PRODUKTU</th>
            <th>NAZWA SKLEPU</th>
          </tr>
          <tr *ngFor="let item of items">
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}}</td>
            <td>{{item.product.currency}}</td>
            <td>{{item.product.type}}</td>
            <td>{{item.product.shopName}}</td>
            <td><button (click)="decrementQuantity(item.product.id)"><img src="../../assets/svg-graphics/cart-dash-fill.svg"></button></td>
            <td>{{item.quantity}}</td>
            <td><button (click)="incrementQuantity(item.product.id)"><img src="../../assets/svg-graphics/cart-plus-fill.svg"></button></td>
            <td><button (click)="removeItem(item.product.id)"><img src="../../assets/svg-graphics/trash-fill.svg"></button></td>
          </tr>
          <tr>
            <td>Suma:</td>
           <td>{{sumPrice}}</td>
           <td>PLN</td>
          </tr>
        </ng-container>
      <tr><button class="btn btn-primary" (click)="removeAllItems()">Opróżnij koszyk</button></tr>
      </table>
    </div>
  </div>
</div>
<div class="col-3"></div>

