#shopname {
  color: #fff;
  background-color: rgba(0, 0, 99, 0.9);
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
  font: 45px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
