.row {
  position: relative;
  top: 30px;
}

h2 {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 99, 0.9);
  border: solid 3px rgba(0, 0, 99, 0.7);
  border-radius: 10px;
}

#products-in-basket-container {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border: solid 3px rgba(0, 0, 99, 0.7);
  border-radius: 10px;
  text-align: center;  
}

p {
  text-align: center;
  position: center;
  margin: auto;
  padding-bottom: 20px;
}

p.empty-basket {
  padding-bottom: 0px;
}

.increment-quantity-button, .decrement-quantity-button, .remove-product-button {
  background-color: rgba(0, 0, 99, 0.9);
  border: solid 1px rgba(0, 0, 99, 0.9);
  border-radius: 5px;
}

.increment-quantity-icon, .decrement-quantity-icon, .remove-product-icon {
  display: block;
  color: white;
}

.increment-quantity-button:hover, .decrement-quantity-button:hover {
  background-color: #198754;
  border: solid 1px #198754;
  border-radius: 5px;
}

.remove-product-button:hover {
  background-color: #be2222;
  border: solid 1px #be2222;
  border-radius: 5px;
}

.product-row:hover {
  background-color: rgba(108, 117, 125, 0.5);
}

.clear-basket {
  background-color: #be2222;
  border: solid 1px #be2222;
  margin: 5px;
}

.buy-items {
  background-color: #198754;
  border: solid 1px #198754;
  margin: 5px;
}

.clear-basket:hover {
  background-color: #ff7b00;
  border: solid 1px #ff7b00;
  margin: 5px;
}

.buy-items:hover {
  background-color: #37cc12;
  border: solid 1px #14a538;
  margin: 5px;
}