<div class="container">
  <div class="row justify-content-center">
    <div class="col align-self-start"></div>
    <div class="col align-self-center">
      <h2>LOGOWANIE</h2>
      <form class="form-container" (ngSubmit)="logIn(form)" #form="ngForm">
        <p>Zaloguj się by dokonać zakupów:</p>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Login" name="login" ngModel required>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" name="password" ngModel required>
        </div>
        <div class="form-group">
          <select class="form-select" name="userType" ngModel required>
            <option value="" disabled selected hidden>Wybierz rodzaj użytkownika</option>
            <option value="CUSTOMER">CUSTOMER</option>
            <option value="SHOP">SHOP</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="loginbutton"
          [disabled]="!form.valid">Zaloguj</button>
        <p id="incorrectdata">{{incorrectData}}</p>
        <p>Nie masz jeszcze konta? <a routerLink="/register">Zarejestruj się!</a></p>
      </form>
    </div>
    <div class="col align-self-end"></div>
  </div>
</div>