<div class="scaled">
    <div class="row justify-content-center">
    <div class="container">
        <h4>KOSZYK</h4>
        <div id="small-basket-container">
                <p *ngIf="items.length == 0">Twój koszyk jest pusty.</p>
                <table *ngIf="items.length > 0" class="table table-hover">
                    <ng-container>
                        <thead>
                            <tr>
                                <th>PRODUKT</th>
                                <th>CENA</th>
                                <th colspan="3" style="text-align: center;">ILOŚĆ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td>{{item.product.name}}</td>
                                <td>{{item.product.price}}</td>
                                <td>
                                    <button class="decrement-quantity-button" (click)="decrementQuantity(item.product.id)">
                                        <span class="bi bi-bag-dash-fill decrement-quantity-icon"></span>
                                    </button>
                                </td>
                                <td>{{item.quantity}}</td>
                                <td>
                                    <button class="increment-quantity-button" (click)="incrementQuantity(item.product.id)">
                                        <span class="bi bi-bag-plus-fill increment-quantity-icon"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="remove-product-button" (click)="removeItem(item.product.id)">
                                        <span class="bi bi-trash-fill remove-product-icon"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Suma:</td>
                                <td>{{sumPrice | number: "1.2-2"}}</td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
                <div *ngIf="items.length > 0">
                    <button class="btn btn-primary clear-basket" (click)="removeAllItems()">Opróżnij</button>
                    <button class="btn btn-success buy-items" (click)="buyItems()">Dokonaj zakupu</button>
                </div>
            </div>
        </div>
    </div>
</div>